/* @import 'tailwindcss'; */

/* @source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php'; */
/* @source '../../storage/framework/views/*.php'; */

/* 
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
} */

.container-filter-datatables {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

.container-left-datatables {
    width: 150px;
    display: flex;
    align-items: center;
}

.container-right-datatables {
    display: flex;
    justify-content: end;
}
.form-filter-datatables {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

/* pagination */

@media (max-width: 768px) {
    .container-filter-datatables {
        display: block !important;
    }
    .container-left-datatables {
        margin-bottom: 10px;
    }

    .form-filter-datatables {
        display: block !important;
        align-items: center;
        margin-bottom: 10px;
    }
    .form-filter-datatables span {
        margin-bottom: 3%px !important;
    }
    .container-right-datatables {
        display: block !important;

        /* justify-content: end; */
    }
}
